<div class="login-page">
    <div class="login-page__box">
        <h1>
            {{title}}
        </h1>

        {{>TextField name=loginName label=loginLabel required="required"}}

        {{>Spacing size="small"}}

        {{>TextField name=passwordName label=passwordLabel required="required"}}

        {{>Spacing size="ularge"}}

        {{>Spacing size="xxlarge"}}

        {{>Button name=authText block="true" onClick="_handleLocation('messages')"}}

        {{>Spacing size="xxsmall"}}

        {{>Button name=regText block="true" view="link" onClick="_handleLocation('registration')"}}
    </div>
</div>
