<label class="profile_avatar" for="avatar">
    {{#if avatar}}
        <img src="{{avatar}}" alt="" />
    {{/if}}

    <div class="profile_avatar__hover">
        Поменять аватар
    </div>
</label>

<input class="profile_avatar__file" type="file" id="avatar" name="avatar">