<div class="input_bar__group">
  <div class="input_bar__add">
    <button>
      <img src="{{iconAdd}}" alt="" />
    </button>
  </div>

  <div class="input_bar__input">
    <label>
      <input type="text" placeholder="Сообщение" name="message" id="message" />
    </label>
  </div>

  <div class="input_bar__button">
    <button>
      <img src="{{iconBtn}}" alt="" />
    </button>
  </div>
</div>
