@import "../../../../ui/styles/vars";

.prof-input_group {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;

    .prof-input_name {
      margin-right: 20px;
      font-size: 13px;
      line-height: 13px;
      display: flex;
      align-items: flex-end;
    }
  }

  input {
    flex: 1;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: #999999;
    outline: none;
    border: none;
    position: relative;

    &.invalid ~ .invalid_block {
      opacity: 1;
      border-bottom: 1px solid @color_red;
      color: @color_red;
    }
  }

  input[disabled] {
    background-color: transparent;
  }

  .invalid {
    color: red;
  }

  .invalid_block {
    width: 100%;
    display: block;
    padding: 2px 0;
    font-size: 10px;
    text-align: right;
    color: transparent;
    border-bottom: 1px solid @color_gray;
  }
}
