<div class="page404">
    <h1>
        404
    </h1>

    {{> Spacing size="large"}}

    <h3>
        Не туда попали
    </h3>

    {{> Spacing size="xxlarge"}}

    {{> Button name="Назад к чатам" view="link" onClick="_handleLocation('messages')"}}
</div>
